<ion-view view-title="Upcoming Events">
  <div class="bar bar-subheader item-input-inset bar-light">
    <label class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" ng-model="query" placeholder="Search Events">
    </label>
  </div>
  <ion-content ng-controller="UpEventsController" class="has-subheader">
    <ion-list>
      <ion-item ng-repeat="item in result | filter: query" href="#/app/browse/{{item.name}}">
        <div class="item item-avatar">
          <h2>{{item.name}}</h2>
          <p>{{item.type}} {{item.date}}</p>
        </div>
        <div class="item item-body">
          <h2>{{item.location}}</h2>
          <p>{{item.description}}</p>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
