<ion-view view-title={{result[index].name}}>
  <ion-content class="ionic-body" >
    <ion-list>
      <div class="item item-avatar-left">
        <img ng-src="{{result[index].icon}}">
        <p>{{result[index].type}} ,{{result[index].date}}</p>
        <p>{{result[index].location}}</p>
    </div>
    <div class="item item-image">
      <img ng-src={{result[index].image}}>
    </div>
    <div>
        <ion-item class="item-divider">Description</ion-item>
        <ion-item class="item-text-wrap"><p>{{result[index].Ldescription}}</p></ion-item>
        <ion-item class="item-avatar inline" ng-repeat="item in result[index].founders">
          <img ng-src="{{item.img}}">
        </ion-item>
        <ion-item class="item-divider">Teams</ion-item>
        <ion-item class="item-text-wrap" ng-repeat="team in result[index].teams">
          <ion-list>
            <ion-item class="item-divider">Team Name: {{team.teamName}}</ion-item>
            <ion-item ng-repeat="member in team.team">
              {{member.name}}
            </ion-item>
            <ion-item class="item-divider">Required Roles</ion-item>
            <ion-item ng-repeat="position in team.needed">{{position}}</ion-item>
          </ion-list>
        </ion-item>
    </div>
      </ion-list>
  </ion-content>
</ion-view>
