<ion-view view-title="Personal Details">
  <ion-content>
    <form ng-submit="doSignUp()">
      <div class="row-center" style="width:33.33%;margin-left:33.33%" >
        <img ng-src="http://placehold.it/100x100" class="col text-center" style="border-radius: 100%!important;" ng-click="showActionSheet()">
      </div>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="signUpData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
