<ion-view view-title="Sign Up">
  <ion-content>

    <div id="status-buttons" class="text-center">
      <a ui-sref-active="active" ui-sref="app.signup.profile"><span>1</span> Profile</a>
      <a ui-sref-active="active" ui-sref="app.signup.personal"><span>2</span> Interests</a>
      <a ui-sref-active="active" ui-sref="app.signup.professional"><span>3</span> Payment</a>
    </div>

    <form id="signup-form" ng-submit="doSignUp()">

      <!-- our nested state views will be injected here -->
      <div id="form-views" ui-view="form"></div>
    </form>
    {{formData}}

    <!--<form ng-submit="doSignUp()">-->
      <!--<div ng-show="page==1">-->

      <!--</div>-->
      <!--<div class="list">-->
        <!--<label class="item item-input">-->
          <!--<span class="input-label">Username</span>-->
          <!--<input type="text" ng-model="data.username">-->
        <!--</label>-->
        <!--<label class="item item-input">-->
          <!--<span class="input-label">Password</span>-->
          <!--<input type="password" ng-model="data.password">-->
        <!--</label>-->
        <!--<label class="item">-->
          <!--<button class="button button-block button-positive" type="submit">Sign Up</button>-->
        <!--</label>-->
      <!--</div>-->
    <!--</form>-->
  </ion-content>
</ion-view>
